#adversting {
    p {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -600px;
    }
    a {
        position: absolute;
        right: 0;
        top: 10px;
        width: 24px;
        height: 24px;
        color: #FFF;
        overflow: hidden;
        background: url(https://res8.vmallres.com/20191126/css/../images/echannel/icon/icon01.svg) no-repeat;
        background-position: -323px -84px;
    }
}