@import "adversting";
@import "header";
@import "carousel";
@import "floortop";
#floor_bottom {
    min-height: 1200px;
    .bottomContent {
        min-height: 1200px;
        background: green;
    }
}

#channel_floor_2 {
    height: 260px;
    .channel2Content {
        height: 200px;
        background: cyan;
    }
}

#footer {
    .footr_top {
        height: 69px;
        padding: 22px 0 20px 0;
        .top_content {
            height: 69px;
            background: #ccc;
        }
    }
    .footr_mid {
        height: 180px;
        padding: 24px 0 24px 0;
        .mid_content {
            height: 180px;
            background: #ccc;
        }
    }
    .footr_bom {
        height: 116px;
        padding: 25px 0 28px 0;
        .bom_content {
            height: 116px;
            background: #ccc;
        }
    }
}