#nav {
  background: #f9f9f9;
}

.aContent {
  height: 90px;
}

.navContent {
  height: 36px;
}
.navContent .nav_left {
  width: 600px;
  height: 100%;
}
.navContent .nav_right {
  width: 435px;
  height: 100%;
}
.navContent ul > li {
  float: left;
  font-size: 12px;
  line-height: 36px;
  position: relative;
  cursor: pointer;
  color: #a4a4a4;
}

.nav_left ul > li {
  padding: 0 7px;
}

.navContent ul > li:hover {
  color: #ca151d;
}

.navContent ul > li:before {
  content: "";
  width: 1px;
  height: 10px;
  display: block;
  position: absolute;
  top: 13px;
  left: 0;
  background: #d3d3d3;
}

.nav_right ul > li:last-of-type:before {
  content: "";
  background: url(https://res8.vmallres.com/20191126/css/../images/echannel/icon/icon-common.svg) no-repeat;
  display: block;
  width: 20px;
  height: 12px;
  background-position: -98px -4px;
  position: absolute;
  top: 11px;
  left: 4px;
  line-height: 12px;
}

.nav_right ul > li:last-of-type {
  width: 77px;
  text-indent: 14px;
  padding: 0 -8px;
  text-align: center;
  background: #f2f2f2;
}

.navContent ul > li:nth-of-type(1):before {
  content: "";
  width: 0;
}

.nav_left ul > li:nth-of-type(1) {
  padding-left: 0;
}

.navContent .arrows {
  padding-right: 20px;
}

.navContent .arrows::after {
  content: "";
  background: url(https://res8.vmallres.com/20191126/css/../images/echannel/icon/icon-common.svg) no-repeat;
  display: block;
  width: 14px;
  height: 20px;
  background-position: -72px 10px;
  position: absolute;
  top: 0;
  right: 4px;
}

.navContent .arrows {
  position: relative;
}
.navContent .arrows ol {
  display: none;
}
.navContent .arrows ol li {
  text-align: center;
}

.navContent .arrows:hover::after {
  background-position: -85px 10px;
}

.navContent .arrows:hover ol {
  top: 36px;
  display: block;
  right: 0;
  background: #fff;
  box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
  border-radius: 8px 0 8px 8px;
  z-index: 10;
}

.navContent ol {
  position: absolute;
  width: 120px;
  background: #fff;
}
.navContent ol li {
  width: 100%;
  color: #777;
}
.navContent ol li:hover {
  color: #ca151d;
}

.nav_right > ul > li {
  padding: 0 8px;
}
.nav_right > ul > li ol {
  width: 80px;
}

.nav_right .arrows .box {
  width: 894px;
  height: 140px;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  top: 36;
  right: 0;
  z-index: 1;
  display: none;
}
.nav_right .arrows .box .icon {
  margin: 37px 46px 0 49px;
  width: 55px;
  height: 73px;
  float: left;
}
.nav_right .arrows .box .icon span {
  color: #777;
}
.nav_right .arrows .box .icon span:nth-of-type(1)::before {
  content: "";
  background: url(https://res8.vmallres.com/20191126/css/../images/echannel/icon/icon-common.svg) no-repeat;
  display: block;
  width: 50px;
  height: 50px;
  background-position: -202px 0;
}
.nav_right .arrows .box .f {
  width: 185px;
  float: left;
  margin-top: 22px;
}
.nav_right .arrows .box .f p {
  font-size: 16px;
  color: #333 !important;
  font-weight: 700;
  cursor: text;
}
.nav_right .arrows .box a {
  color: #777;
}
.nav_right .arrows .box a:hover {
  color: #ca151d;
}
.nav_right .arrows .box .f1 {
  width: 80px;
  height: 20px;
  float: left;
}

.nav_right .arrows:hover .box {
  display: block;
  box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
  border-radius: 8px 0 8px 8px;
}

.nav_right ul > li:last-of-type:hover::before {
  background-position: -118px -4px;
}

.nav_right ul > li:last-of-type:hover {
  background: #fff;
}

@font-face {
  font-family: iconfont;
  src: url(../font/iconfonta.woff) format("woff");
}
#header {
  padding: 18px 0 15px 0;
}
#header .headerContent {
  height: 42px;
}
#header .headerContent .header_left {
  width: 655px;
  height: 100%;
}
#header .headerContent .header_right {
  width: 320px;
  height: 100%;
}

.header_left .logo img {
  width: 205px;
  height: 36px;
  cursor: pointer;
}

.header_left .list ul {
  height: 40px;
}
.header_left .list li {
  float: left;
  margin-right: 24px;
  line-height: 40px;
  cursor: pointer;
}
.header_left .list li img {
  width: 75px;
  height: 24px;
  margin-top: 7px;
}

.header_left .list .li:hover {
  color: #ca141d;
}
.header_left .list .pic:hover {
  opacity: 0.8;
}

.header_right .search_bar {
  width: 320px;
  height: 30px;
  border-radius: 15px;
  margin-top: 5px;
  background: #f0f0f0;
  position: relative;
}
.header_right .search_bar:hover {
  border: 1px solid #c9c9c9;
}
.header_right .search_bar:hover .search_key {
  bottom: 7px;
  right: 32px;
}
.header_right .search_bar:hover .button {
  font-weight: 600;
}
.header_right .search_bar .text {
  display: block;
  width: 270px;
  height: 30px;
  border: 0;
  border-radius: 15px;
  padding-left: 15px;
  background: #f0f0f0;
}
.header_right .search_bar .button {
  display: block;
  width: 35px;
  height: 30px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  background: #f0f0f0;
}
.header_right .search_bar .search_key {
  position: absolute;
  max-width: 260px;
  right: 31px;
  bottom: 6px;
  z-index: 311;
  white-space: nowrap;
  overflow: hidden;
}

.header_right .search_key span:nth-of-type(1) {
  color: #CF0A2C;
  cursor: pointer;
}
.header_right .search_key span:nth-of-type(2) {
  color: #999;
  font-size: 12px;
  cursor: pointer;
}
.header_right .search_key span:nth-of-type(2):hover {
  color: #333;
}

.header_right form .iconfont {
  font-family: iconfont;
}

#carousel {
  position: relative;
  height: 550px;
}
#carousel .carouselContent {
  height: 100%;
  background: #ccc;
}
#carousel .carousel_list {
  position: absolute;
  top: 18px;
  border-radius: 10px;
  left: 0;
  width: 200px;
  height: 440px;
  background: white;
}
#carousel .slide_list {
  position: absolute;
  right: 0;
  top: 448px;
}
#carousel .slide_list span {
  float: left;
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 7px;
}
#carousel .button_left {
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  top: 200px;
  left: 250px;
}
#carousel .button_right {
  display: block;
  width: 80px;
  position: absolute;
  height: 80px;
  border-radius: 50%;
  top: 200px;
  right: 20px;
}

.list_div {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  background: #ccc;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -600px;
}

.carousel_list li {
  width: 200px;
  height: 73px;
}
.carousel_list li .li_item {
  width: 150px;
  height: 47px;
  padding-top: 12px;
  margin-left: 25px;
}
.carousel_list .li_item a {
  color: #a6a6a6;
  margin-right: 5px;
  font-size: 14px;
  display: inline-block;
}
.carousel_list .item_title a {
  font-size: 14px;
  color: #848484;
}

.list_div .button_left {
  background: url(https://res8.vmallres.com/20191126/css/../images/echannel/icon/icon01.svg) no-repeat;
  background-position: 0 -72px;
}

.list_div .button_right {
  background: url(https://res8.vmallres.com/20191126/css/../images/echannel/icon/icon01.svg) no-repeat;
  background-position: -78px -72px;
}

#floor_top {
  height: 1280px;
}
#floor_top .topContent {
  height: 1235px;
  background: skyblue;
  padding-top: 45px;
}
#floor_top .topContent .topContent_1 {
  width: 1200px;
  height: 88px;
  background: white;
  position: absolute;
  left: 50%;
  margin-left: -600px;
  top: -70px;
  border-radius: 10px;
}
#floor_top .topContent .topContent_2 {
  width: 1200px;
  height: 200px;
  background: white;
  border-radius: 10px;
}

#channel_floor_1 {
  height: 133px;
  padding-top: 27px;
}
#channel_floor_1 .channel1Content {
  height: 120px;
  background: #ccc;
}

.topContent_1 .top_1 {
  width: 270px;
  height: 55px;
  margin-top: 17px;
  border-right: 1px solid #eee;
}
.topContent_1 .top_2 {
  width: 660px;
  height: 64px;
  margin-top: 15px;
}
.topContent_1 .top_3 {
  width: 267px;
  height: 88px;
  border-left: 1px solid #eee;
}

.top_1 .login {
  width: 244px;
  height: 52px;
  padding-left: 26px;
}
.top_1 .login_left {
  width: 52px;
  height: 52px;
  margin-right: 17px;
}
.top_1 .login_left img {
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
.top_1 .login_right {
  width: 150px;
  height: 50px;
}

.login_right .login_url {
  height: 20px;
  width: 100%;
  margin-top: 2px;
  color: #999;
}
.login_right .login_url a:hover {
  color: #cb242b;
}
.login_right .login_bom {
  height: 22px;
  width: 100%;
  margin-top: 6px;
}
.login_right .login_bom a {
  display: block;
  line-height: 22px;
  text-align: center;
  border-radius: 5px;
}
.login_right .login_bom .left {
  width: 66px;
  height: 20px;
  background: #fff;
  border: 1px solid #e47b7f;
  color: #de5b60;
  margin-right: 8px;
}
.login_right .login_bom .left:hover {
  color: #fff;
  background: #de5b60;
  border-color: #de5b60;
}
.login_right .login_bom .right {
  width: 68px;
  height: 22px;
  background: #595454;
  color: #fde4b3;
  border-radius: 5px;
  font-size: 13px;
}
.login_right .login_bom .right:hover {
  background: #333;
}

.top_2_list li {
  float: left;
  width: 104px;
  height: 64px;
  text-align: center;
}
.top_2_list .pic {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.top_2_list .pic img {
  position: absolute;
  width: auto;
  height: auto;
  transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  top: -20px;
}
.top_2_list .pdec {
  margin-top: 5px;
}
.top_2_list .pdec a:hover {
  color: #cb242b;
}

.top_2_list .img1 {
  left: -149px;
}

.top_2_list .img2 {
  left: -190px;
}

.top_2_list .img3 {
  left: -230px;
}

.top_2_list .img4 {
  left: -270px;
}

.top_2_list .img5 {
  left: -310px;
}

.top_2_list .img6 {
  left: -350px;
}

.top_3 .notice {
  width: 266px;
  height: 43px;
  border-bottom: 1px solid #eee;
}
.top_3 .notice .notice_left {
  margin: 12px 8px 0 17px;
}
.top_3 .notice .notice_right {
  width: 190px;
  height: 43px;
  overflow: hidden;
}
.top_3 .notice .notice_right ul {
  width: 190px;
  height: 215px;
}
.top_3 .notice .notice_right li {
  width: 190px;
  height: 43px;
  line-height: 43px;
  cursor: pointer;
}
.top_3 .notice .notice_right li:hover {
  color: #cb242b;
}
.top_3 .info {
  width: 266px;
  height: 42px;
}

.top_3 .info a {
  display: block;
  width: 88px;
  margin-top: 5px;
}
.top_3 .info a:hover {
  color: #cb242b;
}
.top_3 .info span {
  margin-right: 18px;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 15px;
  overflow: hidden;
}
.top_3 .info img {
  width: auto;
  height: auto;
  position: absolute;
  transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  top: -20px;
}

.top_3 .info .img1 {
  left: -390px;
}

.top_3 .info .img2 {
  left: -410px;
}

.top_3 .info .img3 {
  left: -430px;
}

.topContent_2 li {
  float: left;
  width: 290px;
  height: 200px;
  margin-left: 13px;
  border-radius: 20px;
  transition: all .2s linear 0s;
}
.topContent_2 li:hover {
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.1);
}
.topContent_2 li img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.topContent_2 li:nth-of-type(1) {
  margin-left: 0;
}

.hot_goods h2 {
  display: block;
  padding: 27px 0 13px 0;
  font-size: 24px;
  color: #333;
  font-weight: 400;
}

.hot_list {
  height: 604px;
}
.hot_list li {
  width: 230px;
  background: #f9f9f9;
  border-radius: 10px;
  margin-left: 12px;
  margin-bottom: 12px;
  margin-top: 0;
}
.hot_list .list_left {
  width: 232px;
  height: 100%;
  background: red;
}
.hot_list .list_left ul {
  margin-left: -10px;
}
.hot_list .list_left li {
  height: 592px;
}
.hot_list .list_right {
  width: 968px;
  height: 100%;
  background: blue;
}
.hot_list .list_right li {
  height: 290px;
  float: left;
}

.list_left a {
  cursor: pointer;
}
.list_left img {
  width: 230px;
  height: 592px;
  border-radius: 10px;
}

#floor_bottom {
  min-height: 1200px;
}
#floor_bottom .bottomContent {
  min-height: 1200px;
  background: green;
}

#channel_floor_2 {
  height: 260px;
}
#channel_floor_2 .channel2Content {
  height: 200px;
  background: cyan;
}

#footer .footr_top {
  height: 69px;
  padding: 22px 0 20px 0;
}
#footer .footr_top .top_content {
  height: 69px;
  background: #ccc;
}
#footer .footr_mid {
  height: 180px;
  padding: 24px 0 24px 0;
}
#footer .footr_mid .mid_content {
  height: 180px;
  background: #ccc;
}
#footer .footr_bom {
  height: 116px;
  padding: 25px 0 28px 0;
}
#footer .footr_bom .bom_content {
  height: 116px;
  background: #ccc;
}

/*# sourceMappingURL=index.css.map */
